<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="top-bar row">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">
        <h4>Day2Serve</h4>
      </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li>
        <input type="text" placeholder="Search">
      </li>
      <li>
        <button type="button" class="button">
          Search
        </button>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>

</body>
</html>
